h1{
    color: blueviolet;
}
/* .bi-bootstrap-fill{
    color: blueviolet;
}
.btn-primary{
    background: blueviolet;
    border-color: blueviolet;
}

.btn-primary:hover{
    background: rgb(120, 11, 216);
    border-color: rgb(120, 11, 216);
} */