.icon{
    color: blue;
    font-size: xx-large;
}

.title{
    color: blue;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 11ch;

    animation: typing 2s steps(11),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

.subtitle{
    font-style: italic;
    font-size: 1.5rem;
}

.movement-cards{
    transition-duration: .5s;
    transform: translateY(0px);
}

.movement-cards:hover{
    transition-duration: .4s;
    transform: translateY(-4px);
    box-shadow: 0 12px 9px -5px rgb(0 0 0 / 12%), 0 10px 32px 0 rgb(0 29 124 / 12%);
}

.animate-intro{
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
  
@-ms-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@font-face{
  font-family:'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

@keyframes typing{
    from { width: 0 }
}

@keyframes blink {
    50% { border-color: transparent }
}

/* Tablets */
@media only screen and (max-width: 768px) {
    .logo{
        float: right;
        margin: 2px 0px 0px 5px;
    }
}

/* Celulares */
@media only screen and (max-width: 576px) {
    .icon{
        font-size: large;
    }
}