.icon{
    color: blue;
    font-size: xx-large;
}

.title{
    color: blue;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 11ch;

    animation: typing 2s steps(11),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

.subtitle{
    font-style: italic;
    font-size: 1.5rem;
}

.movement-cards{
    transition-duration: .5s;
    transform: translateY(0px);
}

.movement-cards:hover{
    transition-duration: .4s;
    transform: translateY(-4px);
    box-shadow: 0 12px 9px -5px rgb(0 0 0 / 12%), 0 10px 32px 0 rgb(0 29 124 / 12%);
}

@keyframes typing{
    from { width: 0 }
}

@keyframes blink {
    50% { border-color: transparent }
}

/* Tablets */
@media only screen and (max-width: 768px) {
    .logo{
        float: right;
        margin: 2px 0px 0px 5px;
    }
}

/* Celulares */
@media only screen and (max-width: 576px) {
    .icon{
        font-size: large;
    }
}